:root {
    --primary: #1F2937;
    --mainText: #F9FAF8;
    --secondary: #E5E7EB;
    --btnColor: #3882F6;
    --infoText: #1F2937;
}

html{
    background-color: #2F2230
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.navbar{
    display: flex;
    background-color: var(--primary);
    justify-content: flex-end;
    align-items: center;
}

.navbar__logo{
    /* min-width: 350px; */
    /* flex: 1; */
    /* text-align: start; */
    font-size: 24px;
    font-weight: 400;
    padding: 10px;
    margin-left: 15rem;
    margin-right: auto;
    color: var(--mainText);
}

.navbar__links{
    /* min-width: 350px; */
    /* flex: 1; */

}

.navbar nav{
    margin-right: 15rem;
}

.navbar__links li{
    display: inline-block;
    list-style: none;
}

.navbar__links a{
    text-decoration: none;
    color: var(--secondary);
    margin-left: 30px;
    padding: 10px;
}

.signUp--top{
    display:flex;
    background-color: var(--primary);
    height: 22.5vh;
    
}

.signUp__div{
    display:flex;
    flex-wrap: wrap;
    margin-top: 10vh;
    margin-left: 15rem;
    width: 400px;
}

.signUp__header{
    font-size: 48px;
    font-weight: extra-bold;
    color: var(--mainText);
}

.signUp__p{
    color: var(--secondary);
}


.signUp_button{
    background-color: var(--btnColor);
    color: var(--mainText);
    font-size: 14px;
    font-weight:bolder;
    border-radius: 7px;
    border-width: 0px;
    width: 100px;
    height: 30px;
}

.signUp_img{
    margin-top: 10vh;
    width: 400px;
}

.signUp_button--bottom{
    border-style: solid;
    border-width: 3px;
}

.randomInfo{
    display:flex;
    margin-top: 20vh;
}