:root {
    --primary: #1F2937;
    --mainText: #F9FAF8;
    --secondary: #E5E7EB;
    --btnColor: #3882F6;
    --infoText: #1F2937;
}

html{
    background-color: #2F2230
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.navbar{
    display: flex;
    background-color: var(--primary);
    justify-content: flex-end;
    align-items: center;
}

.navbar__logo{
    /* min-width: 350px; */
    /* flex: 1; */
    /* text-align: start; */
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    margin-left: 27rem;
    margin-right: auto;
    color: var(--mainText);
}

.navbar nav{
    margin-right: 27rem;
}

.navbar__links li{
    display: inline-block;
    list-style: none;
}

.navbar__links a{
    text-decoration: none;
    color: var(--secondary);
    margin-left: 30px;
    padding: 10px;
}

.signUp--top{
    display:flex;
    background-color: var(--primary);
    height: 27rem;
    justify-content: space-between
}

.signUp__div{
    display:flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 27rem;
    width: 29rem;
    height: 16rem;
}

.signUp__header{
    font-size: 48px;
    font-weight: 700;
    color: var(--mainText);
}

.signUp__p{
    color: var(--secondary);
    margin: 10px 0px;
    font-size: 18px;
}


.signUp_button{
    background-color: var(--btnColor);
    color: var(--mainText);
    font-size: 17px;
    font-weight: bolder;
    border-radius: 7px;
    border-width: 0px;
    width: 120px;
    height: 37px;
    margin-top: 5px;
}

.signUp_button--bottom{
    border-style: solid;
    border-width: 3px;
}

.signUp_img{
    margin-top: 10vh;
    width: 35rem;
    height: 16rem;
    margin-right: 27rem;
    object-fit: cover;
}



.randomInfo{
    display:flex;
    margin-top: 20vh;
}